{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% block title %} Editar Usuário{% endblock %}
{% block content %}
    <div class="container-fluid  form-register">
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-10">
                <div class="content">
                    <div class="form-login">
                        {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <div id="form_errors">
                                    {% for key, value in form.errors.items %}
                                        <strong>{{ value }}</strong>
                                    {% endfor %}
                                </div>
                                <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        
                        <form method="POST" enctype="multipart/form-data" class="form-control" id="form-register">
                            <h1 >Editar Usuário</h1>
                            {% csrf_token %}
                            {{form | crispy }}
                            <br>
                            <button class="button-form" type="submit">Confirmar Edição</button>
                        </form>
                    </div>
                </div>
            </div>
        <div class="col-xl-1"></div>
        </div>
        <br>
    </div>
{% endblock %}