{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Usuários {% endblock %}
{% block content %}
    <div class="container-fluid list-user">
        <h1>Lista de Usuários</h1>
        <table>
            <tr>
                <th>Nome de Usuário</th>
                <th>Tipo de Usuário</th>
                <th>Alterar Cargo</th>
                <th>Informações</th>
            </tr>
            {%for user in object_list%}
                <tr>
                    <td>
                        <span>{{user.username}}</span>
                    </td>
                    <td>
                        <span>{{user.tipoUsuario}}</span>
                    </td>
                    <td>
                        <form class="formselecao" action="/users/update_tipo_usuario/{{user.id}}/" method="get">
                            <select name="tipoUsuario" class="form-select" id="">
                              <option value="gerente">Gerente</option>
                              <option value="entregador">Entregador</option>
                              <option value="tecdealimentos">Tec. de Alimentos</option>
                              <option value="gerdeproducao">Ger. de Produção</option>
                              <option value="auxdeproducao">Aux. de Produção</option>
                            </select>
                            
                            <button class="btn btn-success"><i class="fa-solid fa-check"></i></button>
                        </form>
                    </td>
                    <td>
                        <span><a href="{% url 'users:update_user' user.pk %}"><i class="fas fa-edit"></i></a></span>
                        <span><a href="{% url 'users:detail_user' user.pk %}"><i class="fa-solid fa-magnifying-glass-plus"></i></a></span>
                        {% comment %} <span><a href="{% url 'users:delete_user' user.pk %}"><i class="fa-solid fa-trash"></i></a></span> {% endcomment %}
                    </td>
                </tr>
            {%endfor%}
        </table>
        {% if is_paginated %}
            <div class="card-footer text-right">
                <nav class="d-inline-block">
                    <ul class="pagination mb-0">
                        {% if page_obj.has_previous %}    
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                            </li>
                        {% endif %}
                        
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="#"> {{ i }} <span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}