{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Compras {% endblock %}
{% block content %}
    <div class="container-fluid list-user">
        <h1>Lista de Compras</h1>
        <table>
            <tr>
                <th>Quantidade Atual</th>
                <th>Quantidade Máxima</th>
            </tr>
            {%for estoque in object_list%}
                <tr>
                    <td>
                        <span>{{estoque.quantidade_atual}}</span>
                    </td>
                    <td>
                        <span>{{estoque.quantidade_max}}</span>
                    </td>
                </tr>
            {%endfor%}
        </table>
        {% if is_paginated %}
            <div class="card-footer text-right">
                <nav class="d-inline-block">
                    <ul class="pagination mb-0">
                        {% if page_obj.has_previous %}    
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                            </li>
                        {% endif %}
                        
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="#"> {{ i }} <span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
{% endblock %}