{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Detalhes do Produtor{% endblock %}
{% block content %}

    <div class="container-fluid list-user">
        <div id="detalhe">
            <h1><strong>Produtor: </strong>{{produtor.nome}}</h1>
            <div id="detalhe-cliente">
                <p><strong>Email: </strong>{{ produtor.email }}</p>
                <p><strong>Telefone: </strong> {{ produtor.telefone }}</p>
                <p><strong>CNPJ: </strong> {{ produtor.CPF }}</p>
            </div>
            <div id="detalhe-cliente">
                <h3><strong>Endereço</strong></h3>
                
                <p><strong>Rua: </strong> {{ produtor.rua }}</p>
                <p><strong>Bairro: </strong> {{ produtor.bairro}}</p>
                <p><strong>Cidade:</strong> {{ produtor.cidade}}</p>
                <p><strong>CEP: </strong> {{ produtor.CEP}}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid list-user">
        <h2>Gráfico de Pizza Combinado</h2>
        <canvas id="combinedChart"></canvas>
    </div>
    <div class="container-fluid list-user">
        <h1>Entregas do Produtor</h1>
        <table>
            <tr>
                <th>Quantidade</th>
                <th>Fruta</th>
                <th>Data de Recebimento</th>
            </tr>
            {%for procucao in productions%}
                <tr>
                    <td>
                        <span>{{procucao.quantidade}}</span>
                    </td>
                    <td>
                        <span>{{procucao.fruta}}</span>
                    </td>
                    <td>
                        <span>{{procucao.create_ad}}</span>
                    </td>
                </tr>
            {%endfor%}
        </table>
        {% if is_paginated %}
            <div class="card-footer text-right">
                <nav class="d-inline-block">
                    <ul class="pagination mb-0">
                        {% if page_obj.has_previous %}    
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                            </li>
                        {% endif %}
                        
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="page-item active"><a class="page-link" href="#"> {{ i }} <span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
    
{% endblock %}